:root {
    --primary-font: font-family: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Raleway', sans-serif;
    /* hero */
    --primery-text-color-theme-dark: #FFFFFF;
    /* footer */
    --secondary-text-color-theme-dark: #F4F4FD;

    --primery-text-color-theme-light: #2E2F42;
    --secondary-text-color-theme-light: #434455;
    --accent-color: #404BBF;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* прихований заголовок */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.container {
    padding-left: 16px;
    padding-right: 16px; 
  }
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
}


  @media screen and (min-width: 428px) {
    .container{
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 768px) {
    .container {
      width: 768px;
    }
  }
  @media screen and (min-width: 1158px) {
    .container {
      width: 1158px;
   padding-left: 15px;
    padding-right: 15px;
    }
  }


/* Header */
/* LOGO */




  .page-header {

    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}

  .menu{
    display: none;
}
.contact{
    display: none;
}

  .header-container {
    display: flex;
  justify-content: space-between;
  align-items: center;

}


.logo-link-header {
    display: block;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    
} 

.logo-header-studio {

    color: #2E2F42;
} 



/* 0px - 767px */
@media screen and (max-width: 767px) {
.padding-header{
    padding-top: 24px;
    padding-bottom: 22px;
}

  .button-mobile {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

.button-mobile-svg{
    fill: #2E2F42;
}
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    position: relative;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #2E2F42;
    background-color: #E7E9FC;;
    border-radius: 50%;
    padding: 0;
    
  }

  .mobile-menu-close-icon{
    fill: #2E2F42;
  }


  .top-navigation-mobile {
    margin-bottom: 284px;
}
.menu-mobile {
    display: flex;
    flex-direction: column;
    
    gap: 40px;
}




.menu-mobile-link {
    font-weight: 700;
font-size: 24px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primery-text-color-theme-light);
}

@media screen and (min-width: 428px) {

    .menu-mobile-link {
        font-size: 36px;
    }
}


.current-mobile{
    color: rgba(64, 75, 191, 1) ;
}


.contact-mobile {
    font-style: normal;
    margin-bottom: 48px;
    
}

.contact-menu-mobile{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-menu-link-mobile {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--secondary-text-color-theme-light);
}



  .media-list-mobile {
    display: flex;
    
    gap: 25px;
}
@media screen and (min-width: 428px) {

    .media-list-mobile {
        gap: 56px;
    }
}
.media-list-link-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.media-list-icon-mobile {
    fill: #f4f4fd;
}
}





/* 768px and + */

@media screen and (min-width: 768px) {
    .button-mobile{
        display: none;
    }
    .mobile-menu{
        display: none;
    }

    .logo-link-header{
        margin-right: 120px;
    }

     
   /* Navigation */


.top-navigation {
    display: flex;
    align-items: center;

} 

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}





.menu-link {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primery-text-color-theme-light);
padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.current {
    position: relative;
    color: var(--accent-color);

}

 .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
   
/* CONTACT */


.contact {
    display: block;
    font-style: normal;
    margin-left: auto;

}

.contact-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.contact-menu-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--secondary-text-color-theme-light);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-menu-link:hover,
.contact-menu-link:focus {
    color: var(--accent-color);
}

}


/* 1158px and + */

@media screen and (min-width: 1158px) {
    .logo-link-header{
        margin-right: 76px;
    }

    .contact-menu {
        flex-direction: row;
        gap: 40px;
    }

    .contact-menu-link{
        font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
  }


/* Main */
/* Hero */

.section-hero {
    background-color: #2E2F42;
    padding-top: 112px;
    padding-bottom: 112px;
    margin: 0 auto;

    max-width: 856px;
    background-image: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)), url(../images/Hero/Hero-mobile/img-name.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .section-hero {
    background-image:linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)), url('../images/Hero/Hero-mobile/img-name@2x.jpg');
  }
}

.container-section-hero {
    display: flex;
    align-items: center;
    flex-direction: column;


}

.container-text-hero {
    max-width: 320px;
    margin-bottom: 72px;
}

.text-hero {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primery-text-color-theme-dark);
}


.modal-btn {
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primery-text-color-theme-dark);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: block;
    background-color: #4d5ae5;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

} 


.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--accent-color);
}




@media screen and (min-width: 768px) {
    .container-text-hero {
        font-size: 56px;
        line-height: 1.1;

        max-width: 496px;
        margin-bottom: 36px;
    }

    .section-hero {
        max-width: 768px;
        background-image: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)), url(../images/Hero/Hero-tablet/img-name.jpg);
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 1157px),
  screen and (min-resolution: 192dpi) and (max-width: 1157px),
  screen and (min-resolution: 2dppx) and (max-width: 1157px) {
  .section-hero {
    background-image:linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)), url('../images/Hero/Hero-tablet/img-name@2x.jpg');
  }
}

  @media screen and (min-width: 1158px) {
    .container-text-hero {
        margin-bottom: 48px;
    }
    .section-hero {
        padding-top: 188px;
    padding-bottom: 188px;
        max-width: 1440px;
        background-image: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)), url(../images/Hero/img-name.jpg);
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .section-hero {
    background-image:linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)), url('../images/Hero/img-name@2x.jpg');
  }
}


/* Section 1 */

.information-list-icon{
    display: none;
   
}

.information-title {
    visibility: hidden;
}

.container-section-information {
display: flex;
    align-items: center;
}

.information-items {
    display: flex;
    gap: 72px;
}



/* для всіх абзаців */
.information-subtitle {
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
letter-spacing: 0.02em;
    color: var(--primery-text-color-theme-light);

    margin-bottom: 8px;
    }

.information-subtitle-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
}

@media screen and (max-width: 767px) {
    .information-items {
        
        flex-direction: column;
        align-items: center; 
        
    }  

    .information-subtitle {
     text-align: center;
        }
}



@media screen and (min-width: 768px) and (max-width: 1157px) {
    .information-subtitle-text {
        width: 356px;
    }

    .information-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .information-items {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 72px;
    }
}





@media screen and (min-width: 1158px) {

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

    /* Icon information */
    .information-list-icon{
        display: block  ;
       
    }

.container-information-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    border-radius: 4px 4px 4px 4px;
    height: 112px;
    margin-bottom: 8px;

}

.information-items {
    gap: 24px;
}  

.information-item {
    flex-basis: calc((100% - 72px) / 4);
}

.information-subtitle {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.information-subtitle-text {
    font-weight: 400;
    width: 264px;
}
  }


/* Section 2 */


@media screen and (max-width: 1157px){
    .container-section-work{
        display: none;
    }
}



  @media screen and (min-width: 1158px) {

    .container-section-work{
        display: block;
    }

.section-work {
    padding-bottom: 120px;
}


.work-items {
    display: flex;
    align-items: center;
    gap: 24px;

}

.section-work-title {
   
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primery-text-color-theme-light);


    margin-bottom: 72px;
}

      }


/* Section 3 */

.section-team {
    background-color: #F4F4FD;
}

.container-section-team {
    display: flex;
    align-items: center;
    flex-direction: column;

}


.section-team-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primery-text-color-theme-light);
    margin-bottom: 72px;

}

.section-team-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;

}

.container-text-team {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 32px 0;
    background-color: #FFFFFF;
}





.section-team-subtitle {

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primery-text-color-theme-light);

    margin-bottom: 8px
}

.section-team-text {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}

/* ICON TEAM */

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}



.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-list-link:hover,
.social-list-link:focus {

    background-color: #404bbf;

}

.social-list-icon {
    fill: #F4F4FD;

}




@media screen and (min-width: 768px) and (max-width: 1157px) {
    

    .section-team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 64px;
    }
}



@media screen and (min-width: 1158px) {
    .section{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .section-team-item {
        width: calc((100% - 72px) / 4);
    }

    .section-team-list {
        flex-direction: row;
        gap: 24px;
        
    }
}

/* SECTION 4 */



.customers-title {
    font-style: normal;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2E2F42;

    margin-bottom: 72px;
    text-align: center;
}

.customers-list {
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 16px;
        row-gap: 72px;
}


.customers-list-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 190px;
    height: 88px;

    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #8E8F99;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-icon {
    fill: currentColor;
}



.customers-list-link:hover,
.customers-list-link:focus {

    border-color: #404bbf;
    color: #404bbf;

}


@media screen and (min-width: 768px){

    .customers-list-link {
        width: 168px;
    }

    .customers-list {
            column-gap: 24px;
    }
}


@media screen and (min-width: 1158px){
    .section{
        padding-top: 120px;
        padding-bottom: 120px;
    }

.customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}



.customers-item {
    width: calc((100% - 120px) / 6);

}

}



/* footer */


.page-footer {
    background-color: #2E2F42;
   
}

.container-two-footer {
    display: flex;
    
   
}

@media screen and (max-width: 767px) {
    .container-two-footer {
    flex-direction: column;
    align-items: center;
    gap: 72px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1157px) {
    .container-two-footer {
        padding-left: 108px;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
}


.container-footer { 
    
}

@media screen and (min-width: 1158px){
    .container-footer { 
        margin-right: 120px;
    }
}


.logo-link-footer {
    display:block;


    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
}


@media screen and (max-width: 767px ) {
    .logo-link-footer{
        text-align: center;
    }
}

.logo-footer-studio {

    color: #F4F4FD;
}




.footer-text {
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-dark);

    max-width: 264px
}

/* Другий div container */

/* .container-medial {} */

.media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;


    margin-bottom: 16px;
}
@media screen and (max-width: 767px ) {
    .media-title{
        text-align: center;
    }
}

.media-list {
    display: flex;
    gap: 16px;

}

.media-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-list-link:hover,
.media-list-link:focus {

    background-color: #31d0aa;
}

.media-list-icon {
    fill: #f4f4fd;
}

/* FOOTER INPUT */

.container-mail-footer {
    display: flex;
    flex-direction: column;

}

.contact-title-footer {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    margin-bottom: 16px;
}

@media screen and (max-width: 767px ) {
    .contact-title-footer{
        text-align: center;
    }
}

.container-input-footer {
    display: flex;

}



@media screen and (max-width: 767px ) {
    .container-input-footer{
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
}




.contact-form-input-footer {
    width: 280px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding-left: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);



    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

}

@media screen and (min-width: 428px ) {
    .contact-form-input-footer {
        width: 396px;
    }
}

@media screen and (min-width: 767px ) {
    .contact-form-input-footer {
        width: 264px;
    }
}


.contact-form-input-footer:hover,
.contact-form-input-footer:focus {
    outline: none;
    border-color: #4D5AE5;
    background-color: transparent;
}



.contact-form-submit-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    padding: 8px 24px;

    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;


    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.contact-form-submit-footer:hover,
.contact-form-submit-footer:focus {
    background-color: var(--accent-color);
}

.contact-form-footer-icon {
    fill: rgb(255, 255, 255);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 16px;
}

.contact-form-submit-footer:hover+.contact-form-footer-icon,
.contact-form-submit-footer:focus+.contact-form-footer-icon {
    fill: rgb(255, 255, 255);
}

@media screen and (min-width: 768px ) {
    .contact-form-footer {
        margin-right: 24px;
}
}

@media screen and (min-width: 1158px ) {
    .section{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .container-mail-footer {
        margin-left: 80px;
    }
}



/* модальне вікно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    min-height: 586px;
    background-color: rgba(252, 252, 252, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding-top: 72px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
}

@media screen and (min-width: 428px)  {
    .modal {
        min-width: 392px;
        
    }
}


.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {

    background-color: var(--accent-color);
    border: none;
}

.modal-close-icon {
    fill: rgb(46, 47, 66);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: rgb(255, 255, 255);
}


.title-wrapper {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;

    margin-bottom: 16px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.contact-form-wrapper {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;

    margin-bottom: 4px;
}



.contact-form-input-wrapper {
    position: relative;

}

.contact-form-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;

    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;

    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.contact-form-input-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}



.contact-comment {
    margin-bottom: 18px;
}

.contact-form-message {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);


    width: 100%;
    height: 120px;
    resize: none;
    background-color: transparent;
    outline: transparent;
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    padding: 8px 16px;


    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
    outline: none;
    border-color: #4D5AE5;
}

.contact-form-input-checkbox {
    margin-bottom: 24px;
}


.contact-form-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid #2e2f42;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}



.contact-form-checkmark-icon {
    fill: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.input-checkbox:checked+.text-checkbox-wrapper>.contact-form-checkbox {
    background-color: var(--accent-color);
    border: none;
    border-color: #404bbf;
    fill: #FFFFFF;
}



.text-checkbox-wrapper {

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;


}

.text-checkbox-wrapper-link {
    color: rgba(77, 90, 229, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit {
    display: block;
    border: none;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;


    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;

}



@media screen and (min-width: 768px) {
   
    .modal {
        min-width: 408px;
      
    }
  }

@media screen and (min-width: 1158px) {
    .contact-comment {
        margin-bottom: 16px;
    }

    .contact-form-submit:hover,
.contact-form-submit:focus {
    background-color: var(--accent-color);
}
    .contact-form-input:focus+.contact-form-input-icon {
        fill: #4D5AE5;
    }

    
    .contact-form-input:focus {
        outline: none;
        border-color: #4D5AE5;
    }
  }

/* модальне вікно   close */




/* PORTFOLIO */
/* Main */

/* one list */


.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

/* .container-portfolio {} */



.portfolio-title-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}





.modal-btn-portfolio {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: #F4F4FD;
    cursor: pointer;

    display: block;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
    border: 1px solid transparent;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* two list */




.portfolio-work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;

}

.portfolio-work-item {
    width: calc((100% - 48px) / 3);

}

.portfolio-work-link {
    display: block;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-work-pictures {
    position: relative;
    overflow: hidden;
}

.overlay {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: rgba(77, 90, 229, 1);

    text-align: center;
    padding: 40px 32px;


    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.portfolio-work-link:hover,
.portfolio-work-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-work-link:hover .overlay,
.portfolio-work-link:focus .overlay {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.portfolio-img-text {
    width: 360px;
    flex-direction: column;
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;

}




.portfolio-work-subject {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primery-text-color-theme-light);
    margin-bottom: 8px;
}

.portfolio-work-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);

}